# Django
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# CORS (False + dominios específicos para producción)
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=

# Email (consola para desarrollo, SMTP para producción)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@oncourses.com

# Tests
TEST_DB_NAME=on_courses_test_db
